@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

#size-test > li:nth-child(1) {font-size: 24px;}
#size-test > li:nth-child(2) {font-size: 18pt;}
#size-test > li:nth-child(3) {font-size: 150%;}
#size-test > li:nth-child(4) {font-size: 1.5em;}

/* 크롬브라우저 기준 
    기본 글꼴 크기 : 16px
*/

/* font-weight */
#weight-test > li {
    font-size: 34px;
}

#weight-test > li:nth-child(1) {font-weight : 600;}
#weight-test > li:nth-child(2) {font-weight : bold;}
#weight-test > li:nth-child(3) {font-weight : bolder;}
#weight-test > li:nth-child(4) {font-weight : lighter;}
#weight-test > li:nth-child(5) {
    font-weight : normal;
    font-style : italic;
}

/* font-family */
.cls > li {
    font-size:24px;
}

.famliy-test1 > li:nth-child(1){
    font-family: '궁서체'; /*설치된 폰트인 경우 변경*/
}
.famliy-test1 > li:nth-child(1){
    font-family: '배달의민족체';
    /* 폰트가 없을경우 기본폰드로 설정 */
}
.famliy-test1 > li:nth-child(1){
    font-family: '배달의민족체', '굴림체';
    /* 없을경우 뒤에 서체 사용 */
}


/* 웹폰트 */
/* link 태그를 이용한 방법 */

#famliy-test2 > li:nth-child(1){
    font-family: 'Single Day', cursive;
}

/* @import는 css 파일 제일 상단에 작성 */
#famliy-test2 > li:nth-child(2){
    font-family: 'Babylonica', cursive;
}

/* @font-face를 이용한 방법 */
@font-face {
    font-family: 'TTTtangsbudaejjigaeB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
#famliy-test2 > li:nth-child(3){
    font-family: 'TTTtangsbudaejjigaeB';
}
