*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

div{
    border: 1px solid black;
}

/*************************************/

.container{
    display: flex;
    height: 1000px;
}

/* 왼쪽 */
.container > div:first-child{
    flex-basis: 20%;
}

/* 오른쪽 */
.container > div:last-child{
    flex-basis: 80%;
}

/* 오른쪽 */
.right-box{
    /* 새로운 flex 부모가 되어야함 */
    display: flex;
    flex-direction: column;
}

/* 헤더,네비 */
.right-box > div:nth-child(1),
.right-box > div:nth-child(2){
    flex-basis: 10%;
}

/* 콘텐츠(주황) */
.right-box > div:nth-child(3){
    background-color: orange;
    flex-basis: 80%;
    padding: 20px;
}

/* == 콘텐츠(주황)*/

.orange-box{
    /* 새로운 flex 부모 되어야함 */
    display: flex;
}

/* 빨간 / 파초박스 */
.orange-box > div:nth-child(1),
.orange-box > div:nth-child(2){
    flex-basis:50%
}

/* 빨간색 */

.orange-box > div:nth-child(1){
    background-color: red;
}

/* 파초박스 */
.orange-box > div:nth-child(2){
    /* 새로운 flex부모가 되어야함 */
    display: flex;
    flex-direction: column;
}

/* == 파초박스  */
.blue-green-box > div:nth-child(1){
    /* 파란박스 */
    background-color: blue;
    flex-basis: 40%;

    margin: 0px 0px 10px 20px;
}

.blue-green-box > div:nth-child(2){
    /* 초록박스 */
    background-color: green;
    flex-basis: 60%;
    margin: 10px 0px 0px 20px;
}

.red-box{
    display: flex;
    flex-wrap: wrap;
    padding:20px;
}

.red-box div:nth-child(1),
.red-box div:nth-child(2),
.red-box div:nth-child(3),
.red-box div:nth-child(4){
    flex-basis: 50%;
    background-color: yellow;
    scale: 0.8;
}